.header-margin {
  margin-right: 5%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: "#EDF4FA";
}
.design-intent-header {
  background-color: rgb(237, 244, 250);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-items {
  text-align: center;
  margin-right: 20px;
}

.font-color {
  color: #003da5;
}
.approve-design-intent {
  .p-button.p-button-rounded {
    border: hidden !important;
  }
  padding: 10px;
}

.error-text-di {
  color: red;
  font-weight: 800;
  font-size: 8px;
}

.set-autocomplete-height {
  .p-autocomplete {
    line-height: 12px;
    font-size: 10px;
  }
  .p-autocomplete-dropdown {
    border: 1px solid #ced4da;
    background: #ffffff;
    color: #ced4da;
  }
}
