.header-container {
  height: 80px;
  display: flex;
  padding: 20px 40px 20px 31px;
  font-size: 20px;
  border-bottom: 0.5px solid #acacac;
  .header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 16px;
    line-height: 19.5px;
    color: #003da5;
    font-weight: 500;
    margin: 0;
  }
  .user-date-time {
    display: flex;
    justify-content: space-around;
    p {
      padding: 0 12px;
      color: #acacac;
      font-size: 14px;
      line-height: 17px;
      &:first-child {
        padding-left: 0;
        border-right: 1px solid #acacac;
        padding-left: 0px; /* Optional: add padding to create some space between the text and the line */
      }
    }
  }
  .user-profile {
    display: flex;
    align-items: center;
    .notificaitons {
      width: 18.01px;
      height: 18.99px;
      cursor: pointer;
    }
    .userProfile {
      width: 43.01px;
      height: 43px;
    }
    p {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 0 0 0 21.99px;
      font-size: 14px;
      font-weight: 500;
      color: #acacac;
      line-height: 17px;
      margin: 10px 0;
      span {
        font-size: 12px;
      }
    }
  }
}
