/* 2K and 4K displays (large desktops, greater than 1200px) */
@media (min-width: 1200px) {
  /* Your CSS code for 2K and 4K displays goes here */
}
@media screen and (min-width: 1472px) and (min-height: 864px) {
  /* Your CSS code for the layout goes here */
}
.container-fluid,
.row-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  .left-grid {
    height: 100%;
    // padding: 25px 0 25px 25px;
    margin: 0;
    flex-grow: 1;
    background-color: #ffffff;
    border-right: 0.5px solid #acacac;
  }
  .right-grid {
    height: 100vh;
    flex-grow: 9;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }
}
.main-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: rgba(1, 104, 191, 0.07);
  .wrapper {
    width: 100%;
    // min-height: 100%;
    background: #ffffff;
    // border: 0.5px solid #acacac;
    border-radius: 24px;
    & > .content-layout {
      padding-top: 24px;
      padding-bottom: 32px;
      position: relative;
      .pi-times {
        position: absolute;
        width: 14px;
        height: 14px;
        right: 41px;
        top: 23px;
        cursor: pointer;
      }
      .icon-items {
        .filter-icon {
          cursor: pointer;
          color: #003da5;
          width: 14px;
          height: 19px;
          margin-top: 8px;
        }
        .add-new-design-intent-icon {
          cursor: pointer;
          color: #003da5;
          width: 18px;
          height: 18px;
          margin-top: 9px;
        }

        .icon-label {
          font-size: 10px;
          color: #003da5;
          line-height: 13px;
          padding-top: 8px;
        }
        .p-checkbox + .icon-label {
          padding-top: 3px;
        }
      }
    }
  }
}

// 
.wrapper {
  // max-width: 700px;
  // margin: 50px auto;
  // padding: 20px 0;
  // background-color: #ecfff3;
  // width: 100%;
  // border-radius: 5px;
  // box-shadow: 3px 10px 15px -12px #333333, -3px 0px 15px -12px #333333;
}

.tab-content > .active {
  padding: 10px 20px;
  display: contents !important;
}
.nav-tabs a {
  border: 0!important;
  background-color: transparent!important;
}
.nav-tabs li.active {
  border-bottom: 2px solid #5453d2;
}
.nav-tabs li {
  border-bottom: 2px solid transparent;
}
.nav-tabs li a {
  width: 100%;
  text-align: center;
  text-decoration: none;
}
ul.nav.nav-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.nav-tabs li {
  // flex-basis: 90px;
  min-width: 90px;
  display: flex;
  align-items: flex-start;
  margin: 0!important;
}
.tabs-wrapper{
position: relative;
}
span.left, span.right {
  position: absolute;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#5453D2;
  border-radius: 50%;
  left: -50px;
  top: 8px;
  cursor: pointer;
  color: #ffffff;
}
span.right{
right: -50px;
left:unset;

}
.scroller-btn.inactive {
  opacity: 0.3;
  pointer-events: none;
}
.actions {
  padding-top: 12px;
  right: 28px;
  position: absolute;
}
