/* 2K and 4K displays (large desktops, greater than 1200px) */
@media (min-width: 1200px) {
  /* Your CSS code for 2K and 4K displays goes here */
}

@media screen and (min-width: 1472px) and (min-height: 864px) {
  /* Your CSS code for the layout goes here */
}

.container-fluid,
.row-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;

  .left-grid {
    height: 100%;
    // padding: 25px 0 25px 25px;
    margin: 0;
    flex-grow: 1;
    background-color: #ffffff;
    border-right: 0.5px solid #acacac;
  }

  .right-grid {
    height: 100vh;
    flex-grow: 9;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }
}

.main-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(1, 104, 191, 0.07);

  .wrapper {
    width: 100%;
    // min-height: 100%;
    background: #ffffff;
    border: 0.5px solid #acacac !important;
    border-radius: 24px;
    overflow: hidden;
    height: 100%;
    position: relative;
    padding-bottom: 0;

    &>.content-layout {
      // padding-top: 24px;
      padding-top: 8px;
      // padding-bottom: 32px;
      position: relative;
      overflow: hidden;
      height: 100%;

      .pi-times {
        position: absolute;
        width: 14px;
        height: 14px;
        right: 41px;
        top: 23px;
        cursor: pointer;
      }

      .icon-items {
        .filter-icon {
          cursor: pointer;
          color: #003da5;
          width: 14px;
          height: 19px;
          margin-top: 8px;
        }

        .add-new-design-intent-icon {
          cursor: pointer;
          color: #003da5;
          width: 18px;
          height: 18px;
          margin-top: 9px;
        }

        .icon-label {
          font-size: 10px;
          color: #003da5;
          line-height: 13px;
          padding-top: 8px;
        }

        .p-checkbox+.icon-label {
          padding-top: 3px;
        }
        &.disabled{
          pointer-events: none;
          opacity: 0.4;
        }
      }

      &.task-layout {
        height: auto;
      }
    }
    &.tab-wrapper{
      border: 0 !important;
      border-radius: 0;
      & > .content-layout{
        background: rgba(1, 104, 191, 0.07);
        padding-top: 0;
        .tabular-view{
          position: relative;
          padding-bottom: 38px;
          .form-buttons{
            position: absolute;
            background: white;
            text-align: right;
            width: 100%;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  .comon-wrapper {
    background: #edf4fa !important;
    border: none !important;
  }
}