@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsImdhbnR0Il0sIm5hbWUiOiJwcmF2ZWVuLmEuc2FpbmkuLmNhcGdlbWluaS5jb20iLCJncm91cHMiOlsidHJpYWwiLCJnYW50dCIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJpYXQiOjE2ODczNDYxNDQsIm5iZiI6MTY4NzM0NjE0NCwiZXhwIjoyNTUxMjU5NzQ0fQ.DmxP-ViXdXG8RhAzYMUFtCWsuYHT1dLYT1IS6OZkGYI
