.popup-details {
  label {
    font-size: 12px;
    margin: 8px 0;
    .active-taskname {
      color: #003da5;
      padding-left: 5px;
    }
  }
  .tasksname {
    display: flex;
    ul {
      list-style: none;
      padding: 0 5px;
      max-height: 100px;
      overflow-y: auto;
    }
  }
  .p-autocomplete-dropdown,
  .p-inputtext {
    border: 0;
    background: #ffffff; /* Light Grey */
    height: 30px;
    box-shadow: none !important;
    outline: none !important;
  }
  .p-autocomplete {
    width: 200px;
    border: 1px solid #acacac;
    border-radius: 4px;
  }
  .help-user {
    margin-top: 10px;
  }
  .p-inputtextarea {
    width: 100%;
    border-radius: 14px;
    height: 200px;
    margin: 10px 0;
    border: 1px solid #acacac;
  }
  .p-button-icon {
    color: #adadad;
  }
}
#delegate-submit,
#help-submit {
  padding: 0 !important;
  display: flex;
}
#delegate-submit {
  justify-content: flex-end;
}
#help-submit {
  justify-content: space-between;
}
.comments-validation {
  font-size: 12px;
  padding: 0;
}
.p-dialog .p-dialog-header {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.popup-details {
  min-height: 300px;
}
.row-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: #343a40;
  border-color: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
}
