.tabsCompoMain {
  // background-color: #eaecea;
  border-radius: 24px 24px 0 0;
  height: 400px;
  overflow-y: auto;
  padding: 18px;

  table td {
    padding: 13px 24px !important;
    text-align: left !important;
  }
  table td:after {
    width: 0;
  }

  .columnWidth {
    width: 360px;
    background-color: rgba(233, 241, 255, 1) !important;
  }

  // .accordion .accordion-item .accordion-header:first-child {
  //   border-radius: 4px 4px 0 0;
  // }
  .accordion .accordion-item .accordion-header {
    background-color: rgba(214, 236, 255, 1);
    border-radius: 4px 4px 0 0 !important;
  }
  .accordion-body {
    padding: inherit;
  }
  .accordion-button {
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4px 0 0 0 !important;
    padding-left: 30px;
    font-size: 14px;
    color: #003da5;
    background-color: rgba(214, 236, 255, 1) !important;
    width: fit-content;
    margin-right: 2px;
    &::after {
      margin-left: 1006px;
      position: absolute;
    }
  }
.collapsed {
  background-color: rgba(255, 239, 216, 1) !important;
}
.accordion .accordion-item .accordion-header:has(.collapsed) {
  background-color: rgba(255, 239, 216, 1);
}
  .accordion-button:not(.collapsed) {
    background: rgba(214, 236, 255, 1);
    color: #003da5;
  }
  tr:nth-child(even) > td {
    background: red !important;
  }
}
.p-tabview .p-tabview-panels {
  padding: 0 !important;
}