$width100: 100%;
$fontWeight500: 500;
$fontWeight400: 400;

.content-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 15px 0;
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $width100;
    align-items: center;

    .action-buttons {
      display: flex;
      flex-direction: row;
      button {
        margin: 0 16px;
      }
    }
  }
  .tabular-view {
    width: $width100;
    display: block;
    padding: 0 0 0;
    .card {
      border: 0 !important;
    }
  }
}
.p-confirm-popup {
  position: absolute;
  top: 12% !important;
  left: 0% !important;
}
// Datepicker for ProjectSetUp component Style Start
.p-datepicker table td {
  padding: 0.2px !important;
}
.p-button:focus {
  box-shadow: none !important;
}
// Datepicker for ProjectSetUp component Style End
.my-task-project tr{
  position: relative;
    border: 0 !important;
    height: 30px !important;
}

.my-task-project {
  .p-datatable > .p-datatable-wrapper {
    overflow: scroll;
    width: $width100;
    height: 540px;
  }
  .p-datatable-table {
    line-height: 15px;
  }
  .p-column-title {
    font-weight: $fontWeight500;
  }
  .p-datatable-tbody {
    font-weight: $fontWeight400;
  }


  td, th{
  position: relative;
  &:after {
    content: "";
    display: block;
    height: 22px;
    width: 0.8px;
    background-color: #acacac;
    position: absolute;
    top: 25%;
    right: 0;
  }
  }

  td, th:last-child{
    position: relative;
    &:after {
      content: "";
      display: block;
      height: 22px;
      width: 0.8px;
      background-color: #acacac;
      position: absolute;
      top: 25%;
      right: 0;
    }
    }
  

.p-datatable-thead > tr > th {
  position: relative;
    padding: 0 1rem;
  }
}
.font-bold {
  font-weight: 700;
}

.p-checkbox {
  margin: 8px;
}

.p-checkbox-checked + label {
  color: #003da5;
}

.ml-2 {
  font-weight: $fontWeight400;
  font-size: 14px;
  line-height: 17px;
}

// ProjectList Styles Start
.columnFilterIcon {
  cursor: pointer;
  margin-right: 12px;
  width: 11px;
  height: 16px;
}
.resetToPgDefault {
  width: 164px;
  height: 32px;
  padding: 10px 18px;
  margin: 0 10px 0 21.82px !important;
  border-radius: 15px;
  background-color: #acacac !important;
  font-weight: $fontWeight500;
  line-height: 96%;
  vertical-align: top;
}
.resetToPgDefault:hover {
  background-color: #868484 !important;
}
.header-icons {
  cursor: pointer;
  margin: 8px;
  font-size: 2rem;
  color: #003da5;
  width: 18px;
  height: 18px;
}
// Filter and Save buttons disabled
img[disabled] {
  opacity: 0.5;
  // pointer-events: none;
  cursor: no-drop;
}
// ProjectList Styles End

// ConfirmationPopUp Styles Start
.clearAllFilterMainDiv {
  display: flex;
  padding: 10.56px 22px 22px 2px;
}
.clearAllFilterDiv {
  line-height: 12px;
  justify-items: end;
  display: flex;
  position: absolute;
  right: 22px;
  top: 18px;
}
.clearAllFilter {
  cursor: pointer;
}
.clearAllFilterIcon {
  cursor: pointer;
  position: absolute;
  right: 5px;
}
.sortAndFrozen {
  padding: 0 22px 22px 2px;
  cursor: pointer;
  line-height: 12px;
}
.multiSelect {
  padding: 0 22px 22px 2px;
  cursor: pointer;
  line-height: 10px;
  .p-placeholder {
    // font-size: 8px !important;
    color: #595959 !important;
  }
  .p-multiselect {
    width: 124px !important;
    // height: 16px !important;
  }
}

.p-overlaypanel {
  position: absolute !important;

}
.p-multiselect-item {
  font-size: 10px !important;
  line-height: 12px !important;
  padding: 0px 9px !important;
}
.p-inputtext {
  font-size: 10px !important;
  line-height: 12px !important;
  font-family: Montserrat !important;
}
// Container header section
.action-button{
border-radius: 20px;
box-shadow: 0 0 0 1px #003DA5;
}

div.p-dropdown-panel{
  height: 111px !important;
  width: 186px !important;
  top: 185.667px !important;
  left: 1043.06px !important;
  border: solid 1px #003DA5;
}
.p-dropdown-item:hover{
background-color: #EDF4FA !important;
}

.content-layout .actions{
  padding-right: 10px;
}

li.p-dropdown-item{
  &:nth-child(1){
    color: orange !important;
  }
  &:nth-child(2){
    color: red !important;
  }
  &:nth-child(3){
    color: #003DA5 !important;
  }
}

div.actions-right{
  display: flex;
  flex-direction: row;
  &:nth-child(2){
    margin-left: 12px;
  }
}

.justify-content-center , .justify-content-center1{
  border: none;
}

.justify-content-center1{
  margin-left: 15px;
}

div.p-button.p-component:nth-child(1){
    border-radius: 12px 0 0 12px;
}
div.p-button.p-component:nth-child(2){
  background-color: #ACACAC!important;
    color: white !important;
    border-radius: 0 12px 12px 0;
}

div.p-selectbutton.p-buttonset.p-component{
  border: none;
}
.p-selectbutton .p-button.p-highlight{
  border-color: grey !important;
}

.p-selectbutton .p-button{
  border-color: grey;
}
.reset-to-default-view {
  padding: 10px 18px;
  margin: 0 10px 0 21.82px;
  border-radius: 15px;
  background-color: #00a3e0;
  font-weight: $fontWeight500;
  line-height: 96%;
  vertical-align: top;
  cursor: pointer;
}

.save-as-personal-view {
  padding: 10px 18px;
  margin: 0 10px 0 21.82px;
  border-radius: 15px;
  background-color: #003da5;
  font-weight: $fontWeight500;
  line-height: 96%;
  vertical-align: top;
  cursor: pointer;
}

.apply-filter-text {
  color: "#003DA5" !important;
}

.p-datatable-scrollable .p-frozen-column {
  z-index: 1000;
}

.helpneeded_value{
    min-width: 48px;
    height: 20px;
    text-align: center;
    background-color: #01D309;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 12px;
    border-radius: 5px;
}

.p-button.p-button-success{
  color: white;
  border: none;
}

.status-value{
  display: inline-block;
background-color: #E6FFE8;
color: #006F05;
padding: 4px, 4px;
border-radius: 4px;
}

thead.p-datatable-thead{
  max-height: 30px ;
}
.p-datatable .p-datatable-thead > tr > th{
  background: #EDF4FA;
  // height: 30px;
}


.task_name{
  position: relative;
  // bottom: 6px;
}

div.flex.align-items-center.gap-2{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

th.p-resizable-column.p-reorderable-column:nth-child(2){
  // background-color: #00a3e0 !important;
  width: 350px;
}

.p-datatable-resizable-table > .p-datatable-tbody > tr > td:nth-child(4){
  // background-color: #00a3e0 !important;
  display: flex;
  justify-content: center;
  height: 49.82px !important;
  border-bottom: none !important;
  // align-items: center;
}
.p-datatable-resizable-table > .p-datatable-tbody > tr > td:nth-child(3){
  // display: flex;
  // justify-content: center;
  // height: 49.82px !important;
  // border-bottom: none !important;
  // margin-left: 50px !important;
  Padding: 4px, 12px, 4px, 12px
  // background-color: #006F05 !important;

}

th.p-resizable-column.p-reorderable-column{
  max-height: 30px !important;
}
