$width100: 100%;
$fontWeight500: 500;
$fontWeight400: 400;

.p-confirm-popup {
  position: absolute;
  top: 12% !important;
  left: 0% !important;
}

// Datepicker for ProjectSetUp component Style Start
.p-datepicker table td {
  padding: 0.2px !important;
}

.p-button:focus {
  box-shadow: none !important;
}

// Datepicker for ProjectSetUp component Style End
.myProjectAnddAllProjectList {
  .p-datatable > .p-datatable-wrapper {
    overflow: scroll;
    width: $width100;
  }

  .p-datatable-table {
    line-height: 15px;
  }

  .p-column-title {
    font-weight: $fontWeight500;
  }

  .p-column-title > div {
    display: flex;
  }

  .p-datatable-tbody {
    font-weight: $fontWeight400;
  }

  th:after,
  td:after {
    content: "";
    display: block;
    height: 22px;
    width: 0.8px;
    background-color: #acacac;
    position: absolute;
    top: 25%;
    right: 0;
  }

  td,
  table .p-datatable .p-datatable-tbody > tr > td,
  th,
  tr {
    position: relative;
    border: 0 !important;
    // height: 40px;
  }

  .input-duration > input {
    max-width: 70px;
    border-radius: 5px;
    text-align: center;
    height: 25px;
  }

  .form-control:focus,
  .p-inputwrapper-filled {
    border: none;
  }

  .task-link {
    color: #003da5;
    cursor: pointer;
    line-height: 15px;
  }

  .textAlignTreeTable {
    height: calc(100vh - 302px);
    overflow: auto;
  }
}

.font-bold {
  font-weight: 700;
}

.p-checkbox {
  margin: 8px;
}

.p-checkbox-checked + label {
  color: #003da5;
}

.ml-2 {
  font-weight: $fontWeight400;
  font-size: 14px;
  line-height: 17px;
}

// ProjectList Styles Start
.columnFilterIcon {
  cursor: pointer;
  margin-right: 2px;
  // width: 11px;
  // height: 16px;
}

// Filter and Save buttons disabled
img[disabled] {
  opacity: 0.5;
  // pointer-events: none;
  cursor: no-drop;
}

// ProjectList Styles End

// ConfirmationPopUp Styles Start
.clearAllFilterMainDiv {
  display: flex;
  padding: 10.56px 22px 22px 2px;
}

.clearAllFilterDiv {
  line-height: 12px;
  justify-items: end;
  display: flex;
  position: absolute;
  right: 22px;
  top: 18px;
}

.clearAllFilter {
  cursor: pointer;
}

.clearAllFilterIcon {
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.sortAndFrozen {
  padding: 0 22px 22px 2px;
  cursor: pointer;
  line-height: 12px;
}

.multiSelect {
  padding: 0 22px 22px 2px;
  cursor: pointer;
  line-height: 10px;

  .p-placeholder {
    // font-size: 8px !important;
    color: #595959 !important;
  }

  .p-multiselect {
    width: 124px !important;
    // height: 16px !important;
  }
}

.p-overlaypanel {
  position: absolute !important;
}

.p-multiselect-item {
  font-size: 10px !important;
  line-height: 12px !important;
  padding: 0px 0 !important;
}

.p-inputtext {
  font-size: 10px !important;
  line-height: 12px !important;
  font-family: Montserrat !important;
}

.apply-filter-text {
  color: "#003DA5" !important;
}

.p-datatable-scrollable .p-frozen-column {
  z-index: 1000;
}

// ProjectPlan Styles Start
.duration {
  color: #9a9898;
  background-color: #ffffff !important;
  width: 38px;
  height: 20px;
  border-color: #9a9898;
  border-radius: 4px;
  padding: 0px;
  font-weight: 400;
  font-size: 10px;
}

.helpNeeded {
  color: #ffffff;
  background-color: #01d309 !important;
  width: 48px;
  height: 20px;
  border: none;
  border-radius: 4px;
  padding: 0px;
  font-weight: 500;
  font-size: 12px;
}

.iconsStyle {
  cursor: pointer;
  margin-right: 3.3px;
  width: 13.33px;
  height: 13.33px;
}

.iconsTextStyle {
  color: #03a000;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
  // margin-right: 3.3px;
  // width: 13.33px;
  // height: 13.33px;
}

.iconInprogress {
  color: #003da5 !important;
}

.iconLock {
  color: #595959 !important;
}

.iconAwaiting {
  color: #d37302 !important;
}

.TaskStyles {
  color: #003da5;
  cursor: pointer;
}

.textAlignTreeTable {
  .p-treetable-thead {
    .cursorMove {
      cursor: move;
    }

    .fontBoldcolor {
      color: #145392;
    }
  }

  .p-treetable-tbody {
    .fontBoldcolor {
      font-weight: bold;
    }
  }
}

.textAlignTreeTable
  > div
  > .p-treetable-table
  > .p-treetable-tbody
  > tr
  > td:first-child {
  text-align: left !important;
  display: flex;
  height: auto;
  border-bottom: none !important;
}

.textAlignTreeTable > div > .p-treetable-table > .p-treetable-tbody > tr > td {
  min-width: 100px;
  padding: 2px 6px;
  align-items: center;

  .p-dropdown {
    height: 25px;
  }
}

.projectPlanCompoButtons {
  height: 32px;
  // width: 86px;
  width: auto;
  border-radius: 20px !important;
  padding: 10px 18px 10px 18px;
  margin-right: 23px;
  font-weight: 500;
  font-size: 12px;
  // background-color: #acacac !important;
  color: #003da5;
  line-height: 12px;
}

.projectPlanCompoButtonsColor {
  color: #ffffff;
  background-color: #00a3e0;
}

.projectPlanCompoButtonsColor1 {
  color: #ffffff;
  background-color: #003da5;
}

.overrideIcon {
  cursor: pointer;
  margin-left: 5px;
}

// ProjectPlan Styles End
.accordion.projectPlanAccordian {
  margin: 0px;

  .accordion-item > .accordion-header {
    background-color: #f7f7f7;

    .accordion-button {
      background-color: #f7f7f7 !important;
    }
  }

  .accordion-item > .accordion-header {
    position: relative !important;
  }

  .accordion-item > .accordion-header > button {
    height: 25px;
  }

  .accordion-item > .accordion-header > button::after {
    position: absolute !important;
    margin-left: 110px;
  }
}

.columnHeader {
  display: flex;
  width: max-content;
}

// APrrove Dialog Styles Start
.approveDesignDialog {
  width: 722px;
  height: 429px;
  border-radius: 20px;

  .p-dialog-content {
    overflow-y: hidden !important;
  }
}

.columnBorder {
  background-color: #fafcff;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  color: #595959;
}

.columnBorder > div {
  margin-top: 5px;
  border-right: 0.5px solid #acacac;
  text-align: center;
  min-width: fit-content;
}

.columnBorder > div:last-child {
  border-right: none;
}

.columnBorder1 > div {
  margin: 10px 0 0 0;
  text-align: center;
  color: #595959;
  font-size: 10px !important;
  line-height: 10px;

  // min-width: fit-content;
  select {
    color: #595959;
    font-size: 10px !important;
    line-height: 10px;
    font-weight: 400 !important;
  }

  div > label {
    font-size: 10px !important;
  }
}

.columnBorder2 > div {
  margin-bottom: 20px;
  text-align: center;
  color: #595959;

  // min-width: fit-content;
  select {
    color: #595959;
    font-size: 10px !important;
    line-height: 10px;
    font-weight: 400 !important;
  }

  div > label {
    font-size: 10px !important;
  }
}

.submitButton {
  padding-top: 10px !important;
  text-align: right;

  button {
    font-weight: 500 !important;
    height: 32px !important;
    width: 93px !important;
  }
}

.submitButton > button {
  background-color: #003da5 !important;
  width: 93px;
  height: 40px;
  color: #fff !important;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px 24px;
}

.dropdownStyles {
  width: inherit;
  border-color: #acacac;
  padding: 4px 5px;
  border-radius: 8px;
}

.textAlignLeft {
  text-align: left;
}

.visuallyHidden {
  visibility: hidden;
}

.approveDesignDiv {
  position: relative;
  border: 0.5px solid #acacac;
  height: 144px;
  width: 377.5px;
  margin-left: 142px;
  border-radius: 5px;
  padding: 13px 15px;
}

.approveDesignDiv::before,
.approveDesignDiv::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 160px;
  border: 11px solid transparent;
  border-bottom-color: #dddddd;
}

.approveDesignDiv::after {
  left: 161px;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
}

.approveDesignDivHeading {
  font-weight: 600;
  font-size: 14px;
  line-height: 13.44px;
  color: #595959;
  line-height: 33px !important;
}

.approveDesignDivData {
  font-weight: 400;
  font-size: 14px;
  line-height: 13.44px;
  color: #595959;
}

.approveDesignDiv2Data {
  margin-top: 11px;
}

// APrrove Dialog Styles End
