$width100: 100%;
$fontWeight500: 500;
$fontWeight400: 400;

.p-confirm-popup {
  position: absolute;
  top: 12% !important;
  left: 0% !important;
}

// Datepicker for ProjectSetUp component Style Start
.p-datepicker table td {
  padding: 0.2px !important;
}

.p-button:focus {
  box-shadow: none !important;
}

// Datepicker for ProjectSetUp component Style End
.myProjectAnddAllProjectList {
  .p-datatable>.p-datatable-wrapper {
    overflow: auto;
    width: $width100;
    height: calc(100vh - 150px);
  }

  .p-datatable-table {
    line-height: 12px;
  }

  .p-column-title {
    // font-weight: $fontWeight500;
    display: flex;
    align-items: center;

    img {
      width: 10px;
    }

    span {
      font-size: 12px;
      /* width: 10px; */
      display: flex;
      margin-left: 2px;
      position: relative;
      vertical-align: middle;
      align-items: center;
    }
  }

  .p-datatable-tbody {
    font-weight: $fontWeight400;
  }

  // .p-datatable .p-datatable-tbody>tr>td {
  //   padding: 2px 6px !important;
  //   line-height: 30px;
  // }

  th:after,
  td:after {
    content: "";
    display: block;
    height: 22px;
    width: 0.8px;
    background-color: #acacac;
    position: absolute;
    top: 25%;
    right: 0;
  }

  td,
  table .p-datatable .p-datatable-tbody>tr>td,
  th,
  tr {
    position: relative;
    border: 0 !important;
    // height: 40px;
  }
  &.dsbp-wrapper{
    .p-datatable{
      height: calc(100% - 220px);
    }
  }
}

.font-bold {
  font-weight: 700;
}

.p-checkbox {
  margin: 8px 8px 8px 8px;
}

.p-checkbox-checked+label {
  color: #003da5;
}

.ml-2 {
  font-weight: $fontWeight400;
  font-size: 14px;
  line-height: 17px;
}

// ProjectList Styles Start
.columnFilterIcon {
  cursor: pointer;
  margin-right: 2px;
  margin-left: 5px;
  // width: 11px;
  // height: 16px;
}

// Filter and Save buttons disabled
img[disabled] {
  opacity: 0.5;
  // pointer-events: none;
  cursor: no-drop;
}

// ProjectList Styles End

// ConfirmationPopUp Styles Start
.clearAllFilterMainDiv {
  display: flex;
  padding: 10.56px 22px 22px 2px;
}

.clearAllFilterDiv {
  line-height: 12px;
  justify-items: end;
  display: flex;
  position: absolute;
  right: 22px;
  top: 18px;
}

.clearAllFilter {
  cursor: pointer;
}

.clearAllFilterIcon {
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.sortAndFrozen {
  padding: 0 22px 22px 2px;
  cursor: pointer;
  line-height: 12px;
}

.multiSelect {
  padding: 0 22px 22px 2px;
  cursor: pointer;
  line-height: 10px;

  .p-placeholder {
    // font-size: 8px !important;
    color: #595959 !important;
  }

  .p-multiselect {
    width: 124px !important;
    // height: 16px !important;
  }
}

.p-overlaypanel {
  position: absolute !important;
}

.p-multiselect-item {
  font-size: 10px !important;
  line-height: 12px !important;
  padding: 0px 0 !important;
}

.p-inputtext {
  font-size: 10px !important;
  line-height: 12px !important;
  font-family: Montserrat !important;
}

// Container header section
.action-button {
  border-radius: 20px;
  box-shadow: 0 0 0 1px #003da5;
}

// div.p-dropdown-panel{
//   height: 111px !important;
//   width: 186px !important;
//   top: 185.667px !important;
//   left: 1043.06px !important;
//   border: solid 1px #003DA5;
// }
.p-dropdown-item:hover {
  background-color: #edf4fa !important;
}

div.actions-right {
  display: flex;
  flex-direction: row;

  &:nth-child(2) {
    margin-left: 12px;
  }
}

.justify-content-center,
.justify-content-center1 {
  border: none;
}

.justify-content-center1 {
  margin-left: 15px;
}

div.p-button.p-component:nth-child(1) {
  border-radius: 12px 0 0 12px;
}

div.p-button.p-component:nth-child(2) {
  background-color: #acacac !important;
  color: white !important;
  border-radius: 0 12px 12px 0;
}

div.p-selectbutton.p-buttonset.p-component {
  border: none;
}

.p-selectbutton .p-button.p-highlight {
  border-color: grey !important;
}

.p-selectbutton .p-button {
  border-color: grey;
}

.apply-filter-text {
  color: "#003DA5" !important;
}

.p-datatable-scrollable .p-frozen-column {
  z-index: 1000;
}

.filter-color-change {
  filter: invert(10%) sepia(100%) saturate(1200%) hue-rotate(204deg) brightness(60%) contrast(135%);
}

.checkbox-columnnames {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  label {
    margin-bottom: 0px;
    margin-top: 3px;
  }
}

#tasksActions {
  background: #003da5;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 0;
  margin: 0;
}

.dropdown {
  background: transparent;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 0;
  &:focus-visible{
    outline: none;
  }
}

.dropdown-item {
  font-size: 12px;
  padding: 11px 16px;
  color: #595959;
  &:hover:last-child {
    border-radius: 0 0 8px 8px;
  }
  &:hover:first-child {
    border-radius: 8px 8px 0 0;
  }
  &.active, &:hover {
    background: #edf4fa !important;
    color: #003da5;
  }
  &:focus{
    outline: none;
  }
}
.artwork-dsbp{
  .dropdown-item{
    @extend .dropdown-item;
  }  
}

.dropdown-menu {
  padding: 0;
}

#tasksInActive {
  background-color: #fff !important;
  border-color: #003da5 !important;
  color: #003da5 !important;
  opacity: 1;
}

.dropdown-button-custom #tasksInActive::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M10 2L6.70707 5.2929C6.31818 5.68179 5.68182 5.68179 5.29293 5.2929L2 2' stroke='%23003DA5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
}

.dropdown-button-custom .btn[aria-expanded="true"]::after,
.dropdown-button-custom .btn[aria-expanded="false"]::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M2 6L5.29293 2.7071C5.68182 2.31821 6.31818 2.31821 6.70707 2.7071L10 6' stroke='white' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  transform: rotate(0deg);
}

.dropdown-button-custom .btn[aria-expanded="false"]::after {
  transform: rotate(180deg);
}