.uploadImageAndupVersionImage {
  width: 105px;
  height: 75px;
  // width: 87px;
  border-radius: 2px;
  box-shadow: 0 2px 8px 0 rgba(89, 89, 89, 0.25);

  .p-fileupload {
    // display: flex;
    // border: 1px solid red;
    .p-button {
      color: black;
      margin-left: 18px !important;
      margin-bottom: 10px !important;
      // .p-disabled {
      //   display: none;
      // }
    }

    .p-fileupload-buttonbar {
      // padding: 0;
      // border: 1px solid;
      width: 87px;
      // border: 0;
      // padding: 0;
      // padding: 0 20px;
      padding: 1.25rem;
      padding-top: 0;
    }

    .p-fileupload-row {
      .upload-row {
        margin-top: 15px !important;
        img {
          height: 45px;
        }
      }

      // height: 44px;
      // width: 105px;
      height: 59px;
      width: 60px;
    }

    .p-fileupload-content {
      top: 0;
    }

    .p-button,
    .p-fileupload .p-button:hover {
      align-items: left;
      justify-content: left;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23080808'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M9 17H15M9 13H15M9 9H10M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.0799 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.0799 21 8.2 21H15.8C16.9201 21 17.4802 21 17.908 20.782C18.2843 20.5903 18.5903 20.2843 18.782 19.908C19 19.4802 19 18.9201 19 17.8V9M13 3L19 9M13 3V7.4C13 7.96005 13 8.24008 13.109 8.45399C13.2049 8.64215 13.3578 8.79513 13.546 8.89101C13.7599 9 14.0399 9 14.6 9H19' stroke='%231363ae' stroke-width='1.272' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E") !important;
    }

    .p-button[aria-label="Cancel"] {
      // display: flex;
      // color: red;
      display: flow-root;
      background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.62296 0.964586C5.78519 0.802352 5.78519 0.539319 5.62296 0.377086C5.46072 0.214852 5.19769 0.214852 5.03546 0.377086L3.00004 2.4125L0.964624 0.377086C0.80239 0.214852 0.539358 0.214852 0.377124 0.377086C0.21489 0.539319 0.21489 0.802352 0.377124 0.964586L2.41254 3L0.377124 5.03542C0.214891 5.19765 0.21489 5.46069 0.377124 5.62292C0.539358 5.78515 0.80239 5.78515 0.964624 5.62292L3.00004 3.5875L5.03546 5.62292C5.19769 5.78515 5.46072 5.78515 5.62296 5.62292C5.78519 5.46069 5.78519 5.19765 5.62296 5.03542L3.58754 3L5.62296 0.964586Z" fill="%23595959"/></svg>') !important;
      position: absolute;
      right: 0;
      top: 2px;
      padding: 6px;
      // .p-disabled {
      //   display: none !important;
      // }
    }
    .p-disabled[aria-label="Cancel"] {
      display: none !important;
    }

    .p-fileupload-content {
      padding: 0 0 0 1rem !important;
      width: 70px;
      // height: 59px;
    }
  }

  .p-button-label {
    display: none;
  }

  .p-button .p-component .p-disabled {
    position: absolute;
    top: 0;
    right: 0;

    .p-icon .p-button-icon .p-c .p-button-icon-left {
      position: absolute;
      color: red;
    }
  }

  .fileName {
    // visibility: hidden;
    // width: 93px;
    width: 87px;
    font-weight: 400;
    // line-height: 9.75px;
    font-size: 12px !important;
    // color: rgba(34, 54, 232, 1);
    // margin: 2px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // text-decoration: underline;
  }
  .File_NameFromAPI {
    width: 87px;
    font-weight: 400;
    font-size: 12px !important;
    color: rgba(34, 54, 232, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    margin: 0 0 0px 12px;
    cursor: pointer;
  }

  img,
  svg {
    // width: 13.16px;
    // height: 17px;
    // height: 25px;
  }
}
#File_NameFromAPIPaddingId .p-fileupload .p-fileupload-buttonbar {
  padding: 0 1.25rem;
}
.File_NameFromAPIPadding {
  padding-bottom: 6px;
}

.uploadImageAndupVersionImage1 {
  .p-fileupload {
    padding-top: 14px;
  }

  .p-button-label {
    display: none;
  }

  .p-button,
  .p-button:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Clip path group'%3E%3Cmask id='mask0_5049_15113' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Cg id='clip-path'%3E%3Cpath id='Vector' d='M0.499999 0.5L0.5 18.5L18.5 18.5L18.5 0.499999L0.499999 0.5Z' fill='white'/%3E%3C/g%3E%3C/mask%3E%3Cg mask='url(%23mask0_5049_15113)'%3E%3Cg id='icon/exit'%3E%3Cpath id='Shape' d='M17.1166 9.74714L17.1166 13.6903C17.1036 14.4472 16.7911 15.1681 16.2474 15.6949C15.7037 16.2216 14.9733 16.5112 14.2163 16.5002L4.40022 16.5002C3.64329 16.5112 2.91288 16.2216 2.36919 15.6949C1.8255 15.1681 1.51292 14.4472 1.5 13.6903L1.5 9.683C1.50191 9.56643 1.54994 9.45537 1.63357 9.37415C1.7172 9.29292 1.82961 9.24815 1.94619 9.24964C2.06272 9.2483 2.17505 9.29311 2.25865 9.37431C2.34224 9.4555 2.39032 9.56648 2.39237 9.683L2.39237 13.6903C2.40118 14.2142 2.61759 14.7132 2.99407 15.0777C3.37055 15.4421 3.8763 15.6422 4.40022 15.634L14.2163 15.634C14.7403 15.6422 15.246 15.4421 15.6225 15.0777C15.999 14.7132 16.2154 14.2142 16.2242 13.6903L16.2242 9.74714C16.2242 9.6288 16.2712 9.51531 16.3549 9.43164C16.4385 9.34796 16.552 9.30095 16.6704 9.30095C16.7887 9.30095 16.9022 9.34796 16.9859 9.43164C17.0695 9.51531 17.1166 9.6288 17.1166 9.74714ZM12.6547 4.76434C12.6548 4.82384 12.643 4.88277 12.62 4.93766C12.5971 4.99254 12.5633 5.04227 12.5208 5.08392C12.4349 5.16836 12.3192 5.21568 12.1987 5.21568C12.0783 5.21568 11.9626 5.16836 11.8766 5.08392L9.76116 2.9835L9.76116 12.1448C9.76042 12.2646 9.71242 12.3792 9.6276 12.4637C9.54278 12.5482 9.42801 12.5958 9.30828 12.596C9.24856 12.5972 9.18922 12.5863 9.13379 12.5641C9.07835 12.5418 9.02794 12.5087 8.98555 12.4666C8.94316 12.4245 8.90965 12.3744 8.887 12.3191C8.86436 12.2638 8.85304 12.2046 8.85373 12.1448L8.85373 2.98405L6.73935 5.08392C6.65351 5.16833 6.53793 5.21563 6.41754 5.21563C6.29715 5.21563 6.18158 5.16833 6.09573 5.08392C6.05306 5.04235 6.01915 4.99266 5.996 4.93777C5.97284 4.88288 5.96091 4.82391 5.96091 4.76434C5.96091 4.70477 5.97284 4.6458 5.996 4.59091C6.01915 4.53603 6.05306 4.48633 6.09573 4.44476L8.98647 1.57522C9.02838 1.53245 9.07847 1.49856 9.13376 1.47557C9.18905 1.45257 9.2484 1.44094 9.30828 1.44136C9.4285 1.44264 9.54352 1.49065 9.62898 1.57522L12.5208 4.44532C12.5633 4.4869 12.5969 4.53654 12.6199 4.59133C12.6429 4.64611 12.6547 4.70493 12.6547 4.76434Z' fill='%23003DA5' stroke='%23003DA5' stroke-width='0.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }
}

.uploadImageAndupVersionImage2 {
  .p-button-label {
    display: none;
  }

  .p-fileupload {
    padding-top: 13px;

    // .p-fileupload-buttonbar {
    //   padding: 0 17px;
    // }

    .p-button,
    .p-button:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Frame 514448'%3E%3Cpath id='Shape' d='M16.6166 15.1903L16.6166 11.2471C16.6166 11.1288 16.5695 11.0153 16.4859 10.9316C16.4022 10.848 16.2887 10.801 16.1704 10.801C16.052 10.801 15.9385 10.848 15.8549 10.9316C15.7712 11.0153 15.7242 11.1288 15.7242 11.2471L15.7242 15.1903C15.7154 15.7142 15.499 16.2132 15.1225 16.5777C14.746 16.9421 14.2403 17.1422 13.7163 17.134L3.90022 17.134C3.3763 17.1422 2.87055 16.9421 2.49407 16.5777C2.11759 16.2132 1.90118 15.7142 1.89237 15.1903L1.89237 11.183C1.89032 11.0665 1.84224 10.9555 1.75865 10.8743C1.67505 10.7931 1.56272 10.7483 1.44619 10.7496C1.32961 10.7481 1.2172 10.7929 1.13357 10.8741C1.04994 10.9554 1.00191 11.0664 1 11.183L1 15.1903C1.01292 15.9472 1.3255 16.6681 1.86919 17.1949C2.41288 17.7216 3.14329 18.0112 3.90022 18.0002L13.7163 18.0002C14.4733 18.0112 15.2037 17.7216 15.7474 17.1949C16.2911 16.6681 16.6036 15.9472 16.6166 15.1903Z' fill='%23003DA5' stroke='%23003DA5' stroke-width='0.5'/%3E%3Cpath id='Shape_2' d='M1.86982 1.80563C1.32613 2.33239 1.01355 3.05327 1.00064 3.81017L1.00064 7.43196L1.00064 11.0538C1.00064 11.1721 1.04764 11.2856 1.13132 11.3693C1.215 11.4529 1.32848 11.4999 1.44682 11.4999C1.56516 11.4999 1.67865 11.4529 1.76232 11.3693C1.846 11.2856 1.89301 11.1721 1.89301 11.0538L1.89301 3.81017C1.90181 3.28626 2.11823 2.78727 2.4947 2.42282C2.87118 2.05837 3.37693 1.85826 3.90085 1.86647L13.717 1.86647C14.2409 1.85826 14.7466 2.05837 15.1231 2.42282C15.4996 2.78727 15.716 3.28626 15.7248 3.81017L15.7242 12.9999C15.7263 13.1165 15.7743 13.2274 15.8579 13.3086C15.9415 13.3898 16.0539 13.4346 16.1704 13.4333C16.287 13.4348 16.3994 13.39 16.483 13.3088C16.5666 13.2276 16.6147 13.1165 16.6166 12.9999L16.6172 3.81017C16.6043 3.05327 16.2917 2.33239 15.748 1.80563C15.2043 1.27888 14.4739 0.989266 13.717 1.0003L3.90085 1.0003C3.14392 0.989265 2.41351 1.27888 1.86982 1.80563Z' fill='%23003DA5' stroke='%23003DA5' stroke-width='0.5'/%3E%3Cg id='icon/exit'%3E%3Cpath id='Shape_3' d='M12.0937 7.27674C12.0938 7.33542 12.0831 7.39353 12.0622 7.44766C12.0412 7.50178 12.0105 7.55082 11.9718 7.5919C11.8936 7.67517 11.7883 7.72182 11.6786 7.72182C11.5689 7.72182 11.4636 7.67517 11.3854 7.5919L9.45957 5.52059L9.45957 14.5549C9.4589 14.673 9.4152 14.786 9.33798 14.8693C9.26076 14.9527 9.15628 14.9996 9.04728 14.9999C8.99292 15.001 8.9389 14.9902 8.88843 14.9683C8.83797 14.9464 8.79208 14.9137 8.75349 14.8722C8.7149 14.8307 8.68439 14.7813 8.66378 14.7268C8.64316 14.6722 8.63286 14.6138 8.63348 14.5549L8.63348 5.52114L6.70866 7.5919C6.63051 7.67513 6.5253 7.72178 6.4157 7.72178C6.3061 7.72178 6.20088 7.67513 6.12273 7.5919C6.08389 7.5509 6.05302 7.50189 6.03194 7.44777C6.01086 7.39364 6 7.33549 6 7.27674C6 7.218 6.01086 7.15985 6.03194 7.10572C6.05302 7.0516 6.08389 7.00259 6.12273 6.96159L8.75432 4.13184C8.79248 4.08967 8.83808 4.05624 8.88841 4.03357C8.93874 4.01089 8.99277 3.99942 9.04728 3.99983C9.15673 4.0011 9.26143 4.04844 9.33923 4.13184L11.9718 6.96214C12.0105 7.00315 12.0411 7.05211 12.0621 7.10613C12.083 7.16015 12.0937 7.21816 12.0937 7.27674Z' fill='%23003DA5' stroke='%23003DA5' stroke-width='0.455176'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important; // background-image: url('data:image/svg+xml,<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.59369 4.27674C6.59381 4.33542 6.58308 4.39353 6.56216 4.44766C6.54123 4.50178 6.51052 4.55082 6.47184 4.5919C6.3936 4.67517 6.2883 4.72182 6.17862 4.72182C6.06894 4.72182 5.96364 4.67517 5.8854 4.5919L3.95957 2.52059L3.95957 11.5549C3.9589 11.673 3.9152 11.786 3.83798 11.8693C3.76076 11.9527 3.65628 11.9996 3.54728 11.9999C3.49292 12.001 3.4389 11.9902 3.38843 11.9683C3.33797 11.9464 3.29208 11.9137 3.25349 11.8722C3.2149 11.8307 3.18439 11.7813 3.16378 11.7268C3.14316 11.6722 3.13286 11.6138 3.13348 11.5549L3.13348 2.52114L1.20866 4.5919C1.13051 4.67513 1.0253 4.72178 0.915696 4.72178C0.806097 4.72178 0.700884 4.67513 0.622732 4.5919C0.583889 4.5509 0.553018 4.50189 0.531939 4.44777C0.51086 4.39364 0.5 4.33549 0.5 4.27674C0.5 4.218 0.51086 4.15985 0.531939 4.10572C0.553018 4.05159 0.583889 4.00259 0.622732 3.96159L3.25432 1.13184C3.29248 1.08967 3.33808 1.05624 3.38841 1.03357C3.43874 1.01089 3.49277 0.999417 3.54728 0.999835C3.65673 1.0011 3.76143 1.04844 3.83923 1.13184L6.47184 3.96214C6.51046 4.00315 6.54113 4.05211 6.56206 4.10613C6.58298 4.16015 6.59374 4.21816 6.59369 4.27674Z" fill="%23003DA5" stroke="%23003DA5" stroke-width="0.455176"/></svg>') !important;
      // background-position: center center;
      // padding: 3px 5px;
      // border: 1px solid rgb(0, 61, 165);
      // width: 22px;
      // height: 25.09px;
    }
    .p-disabled {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Frame 514448'%3E%3Cpath id='Shape' d='M16.6166 15.1903L16.6166 11.2471C16.6166 11.1288 16.5695 11.0153 16.4859 10.9316C16.4022 10.848 16.2887 10.801 16.1704 10.801C16.052 10.801 15.9385 10.848 15.8549 10.9316C15.7712 11.0153 15.7242 11.1288 15.7242 11.2471L15.7242 15.1903C15.7154 15.7142 15.499 16.2132 15.1225 16.5777C14.746 16.9421 14.2403 17.1422 13.7163 17.134L3.90022 17.134C3.3763 17.1422 2.87055 16.9421 2.49407 16.5777C2.11759 16.2132 1.90118 15.7142 1.89237 15.1903L1.89237 11.183C1.89032 11.0665 1.84224 10.9555 1.75865 10.8743C1.67505 10.7931 1.56272 10.7483 1.44619 10.7496C1.32961 10.7481 1.2172 10.7929 1.13357 10.8741C1.04994 10.9554 1.00191 11.0664 1 11.183L1 15.1903C1.01292 15.9472 1.3255 16.6681 1.86919 17.1949C2.41288 17.7216 3.14329 18.0112 3.90022 18.0002L13.7163 18.0002C14.4733 18.0112 15.2037 17.7216 15.7474 17.1949C16.2911 16.6681 16.6036 15.9472 16.6166 15.1903Z' fill='%23ACACAC' stroke='%23ACACAC' stroke-width='0.5'/%3E%3Cpath id='Shape_2' d='M1.86982 1.80563C1.32613 2.33239 1.01355 3.05327 1.00064 3.81017L1.00064 7.43196L1.00064 11.0538C1.00064 11.1721 1.04764 11.2856 1.13132 11.3693C1.215 11.4529 1.32848 11.4999 1.44682 11.4999C1.56516 11.4999 1.67865 11.4529 1.76232 11.3693C1.846 11.2856 1.89301 11.1721 1.89301 11.0538L1.89301 3.81017C1.90181 3.28626 2.11823 2.78727 2.4947 2.42282C2.87118 2.05837 3.37693 1.85826 3.90085 1.86647L13.717 1.86647C14.2409 1.85826 14.7466 2.05837 15.1231 2.42282C15.4996 2.78727 15.716 3.28626 15.7248 3.81017L15.7242 12.9999C15.7263 13.1165 15.7743 13.2274 15.8579 13.3086C15.9415 13.3898 16.0539 13.4346 16.1704 13.4333C16.287 13.4348 16.3994 13.39 16.483 13.3088C16.5666 13.2276 16.6147 13.1165 16.6166 12.9999L16.6172 3.81017C16.6043 3.05327 16.2917 2.33239 15.748 1.80563C15.2043 1.27888 14.4739 0.989266 13.717 1.0003L3.90085 1.0003C3.14392 0.989265 2.41351 1.27888 1.86982 1.80563Z' fill='%23ACACAC' stroke='%23ACACAC' stroke-width='0.5'/%3E%3Cg id='icon/exit'%3E%3Cpath id='Shape_3' d='M12.0937 7.27674C12.0938 7.33542 12.0831 7.39353 12.0622 7.44766C12.0412 7.50178 12.0105 7.55082 11.9718 7.5919C11.8936 7.67517 11.7883 7.72182 11.6786 7.72182C11.5689 7.72182 11.4636 7.67517 11.3854 7.5919L9.45957 5.52059L9.45957 14.5549C9.4589 14.673 9.4152 14.786 9.33798 14.8693C9.26076 14.9527 9.15628 14.9996 9.04728 14.9999C8.99292 15.001 8.9389 14.9902 8.88843 14.9683C8.83797 14.9464 8.79208 14.9137 8.75349 14.8722C8.7149 14.8307 8.68439 14.7813 8.66378 14.7268C8.64316 14.6722 8.63286 14.6138 8.63348 14.5549L8.63348 5.52114L6.70866 7.5919C6.63051 7.67513 6.5253 7.72178 6.4157 7.72178C6.3061 7.72178 6.20088 7.67513 6.12273 7.5919C6.08389 7.5509 6.05302 7.50189 6.03194 7.44777C6.01086 7.39364 6 7.33549 6 7.27674C6 7.218 6.01086 7.15985 6.03194 7.10572C6.05302 7.0516 6.08389 7.00259 6.12273 6.96159L8.75432 4.13184C8.79248 4.08967 8.83808 4.05624 8.88841 4.03357C8.93874 4.01089 8.99277 3.99942 9.04728 3.99983C9.15673 4.0011 9.26143 4.04844 9.33923 4.13184L11.9718 6.96214C12.0105 7.00315 12.0411 7.05211 12.0621 7.10613C12.083 7.16015 12.0937 7.21816 12.0937 7.27674Z' fill='%23ACACAC' stroke='%23ACACAC' stroke-width='0.455176'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") !important;
    }
  }
}

.heade-plus-icon {
  // cursor: pointer;
  font-size: 2rem;
  color: #003da5;
  width: 13px;
  height: 13px;
}

.wrongMsg {
  color: red;
}

.displayFlex {
  display: flex;
}

.paddingRight {
  padding-right: 6px;
}

.graphicAdaptionBrief {
  color: rgba(0, 61, 165, 1);

  [contenteditable] {
    outline: 0px solid transparent;
  }

  .graphicInput {
    border: none;
    border-bottom: 1.5px solid #003da5;
  }

  input[type="text"] {
    outline: none;
  }
}

// ToolTip Styles Start
.tooltip1 {
  color: #fff;
  background-color: transparent;
  border-color: #007bff;
  margin-left: -1.5%;
  z-index: 10000000 !important;

  .tooltip-inner {
    background-color: rgba(254, 254, 254, 1) !important;
    max-width: 381px;
    height: 284px;
    border-radius: 2px;
    border: solid 1px rgba(172, 172, 172, 1);
    margin-left: 13px;
    overflow-y: auto;
    padding: 11px 16px 11px 14px;
    box-shadow: 0px 6px 16px 0px rgba(89, 89, 89, 0.24);
  }
}

.toolname1 {
  color: rgba(89, 89, 89, 1);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: left;
  background: transparent;
  line-height: 13px;
  // margin-top: 6px;

  ul {
    padding-left: 13px;
    margin-bottom: 0px;
  }
}

.tooltip1 > .tooltip-arrow {
  left: 10px;
  top: -8px !important;
}

.tooltip1 > .tooltip-arrow::before {
  border: 1px solid rgb(172, 172, 172);
  width: 16.86px;
  height: 16.86px;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  transform: rotate(45deg);
  right: -9px;
  background-color: #fff;
  top: -24px;
  // top: 50%;
}
.add-file-ubd,
.ubd-accordion-header {
  color: #003da5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.add-file-ubd {
  cursor: pointer;
  font-weight: bold;
}

.ubd-dialog {
  width: 25%;
  height: 15%;
  border-radius: 20px;
  .p-dialog .p-dialog-header {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .p-dialog-ubd {
    color: red;
  }
  .p-dialog-content {
    padding: 10px 32px 20px 32px !important;
    border-radius: 0 0 20px 20px;
  }
}

// ToolTip Styles End
