$width: 100%;
.project-name {
  font-size: 18px;
  font-weight: 900;
  line-height: 29px;
  color: #003da5;
  padding: 0 12px 15px;
}
.accordion {
  padding: 0;
  margin: 0px -15px;
  border: 0;
  border-radius: 0;
  position: relative;
  //   z-index: 1000000;
  .accordion-item {
    border-radius: 0;
    border: 0;
    margin-bottom: 5px;
    .accordion-header {
      background-color: #edf4fa;
    }
    // .accordion-body {
    //   height: 50vh;
    //   overflow: auto;
    // }
  }
  .accordion-button {
    box-shadow: none !important;
    outline: none !important;
    border-radius: 0 !important;
    padding-left: 30px;
    font-size: 14px;
    color: #003da5;
    background-color: #edf4fa !important;
    width: fit-content;
    margin-right: 2px;
    &::after {
      margin-left: 5px;
    }
  }
  .accordion-button:not(.collapsed) {
    background: #edf4fa;
    color: #003da5;
  }
  .accordion-body {
    padding: 5px;
  }
}
.tabular-add-project {
  padding: 15px;
  overflow-y: scroll;
  height: 72vh;
}

.p-breadcrumb ul .pi-chevron-right:nth-child(3) {
  color: #003da5;
}
.p-breadcrumb ul li .p-menuitem-link {
  box-shadow: none !important;
  outline: none !important;
}

.breadCrumbParent {
  width: $width;
}
.projectPlanButtons {
  display: flex;
  justify-content:end;
  margin-right: 13px;
}
.projectPlanButtonsRadius1 {
  border-radius: 20px 0 0 20px;
}
.projectPlanButtonsRadius2 {
  border-radius: 0 20px 20px 0 !important;
}
.ActionsDropdown {
  background-color: #003da5;
}
.AccordionIndent > .accordion > .accordion-item > .accordion-header {
  position: relative !important;
}
.AccordionIndent > .accordion > .accordion-item > .accordion-header > button::after {
  position: absolute !important;
  margin-left: 110px !important;
}
