@import "style.scss";
@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary-color: #003da5;
$white-color: #ffffff;
$gray-color: "#ACACAC";
$width100: 100%;

* {
  margin: 0;
  padding: 0;
}

body {
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-size: 12px;
  overflow: hidden;
  font-weight: 500;
  color: #595959;
}

body,
html,
a,
p,
div {
  font-family: "Montserrat" !important;
  font-size: 14px;
}

.btn{
    background: #003da5;
    color: #fff;
    padding: 10px 24px;
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
  &.btn{
    &-primary{
      background-color: #003DA5;
      border-color: #003DA5;
      &:hover, &:active{
        background-color: #002C7A;
      }  
    }
    &-secondary{
      background-color: #fff;
      border-color: #003DA5;
      color: #003DA5;
      &:hover, &:active{
        background-color: #DCEFFF;
        border-color: #003DA5;
        color: #003DA5
      }  
    }
    &-disabled, disabled{
      background-color: #ACACAC;
      color: #fff;
      &:hover, &:active{
        background-color: #ACACAC;
        color: #fff;
      } 
    }
    &.border-primary{
      border-color: #003DA5 !important;      
    }
  }
  &.dropdown-toggle{
    padding: 10px 18px;
    &:after{
      margin-left: 10px;
    }
  }
  &:disabled{
    font-size: 12px;
    width: auto;
    height: auto;
  }
}
.form-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 0;
  gap: 24px;
  .btn, .btn:disabled{
    @extend .btn;
  }  
}
.p-fileupload{
  .p-fileupload-row{
    .upload-row{
      padding: 0;
      margin-top: 60px;
      text-align: left;
    }
  }
}

.button-layout {
  width: 178px;
  height: 40px;
  background: #003da5;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  /* Light Grey */
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background: #acacac !important;
  border-radius: 20px;
  width: 178px;
  height: 40px;
  border-color: #acacac !important;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: #003da5;
}

.arrow-up,
.arrow-down {
  width: 100% !important;
  height: 10px !important;
}

.arrow-up {
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(1, 104, 191, 0.05) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #003da5;
  background-color: #003da5 !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: rgba(1, 104, 191, 0.05) !important;
  margin-top: 18px;
}

// ProjectPlanList Styles Start
.p-datatable {
  height: 100%;
  overflow: hidden;
}

.rowExpansionTemplate {
  // table {
  //   // width: 100% !important;
  // }
  background-color: #ffffff !important;

  // background-color: #a6bda5 !important;
  .p-datatable {
    height: 90px !important;
    overflow-y: auto;

    .p-datatable-tbody,
    tr,
    td {
      padding: 1px !important;
      border-bottom: 1px solid #acacac !important;
      line-height: 10px !important;
      text-align: center;
    }
  }

  thead {
    display: none;
  }

  // th,
  // td {
  //   width: 9% !important;
  // }
  th,
  td {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    word-break: break-all;
  }
}

// ProjectPlanList Styles End

.myProjectAnddAllProjectList,
.my-task-project {
  table {
    // border-collapse: separate !important;
    // border-spacing: 0 5px !important;
    // width: 100%;
    thead {
      th {
        background-color: #edf4fa !important;
        height: 30px;
        // border: 0 !important;
        text-align: center !important;
        border-width: 1px 2px 3px 4px;
        border: 0 !important;
        padding: 0 !important;

        &:nth-child(1) {
          border-left: none !important;
        }

        &:last-child {
          border-left: none !important;
          // margin: 10px;
        }
      }

      th.p-filter-column .p-column-filter .p-fluid {
        min-width: 100px;
        border-radius: 140px;
        background-color: #ffffff !important;
      }

      .p-filter-column {
        background-color: #ffffff !important;
        padding: 10px !important;
      }
    }

    tr:nth-child(even) > td {
      // background:lightcyan !important;
      // background: linear-gradient(to right, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%) !important;
      background: #fafcff !important;
      // background-color: blue;
    }

    .p-datatable .p-datatable-tbody > tr {
      line-height: 50px !important;
      font-size: 12px;
    }

    td,
    .p-datatable .p-datatable-tbody > tr > td {
      // background-color: #003da5;
      border-bottom: 1px solid #acacac !important;
      border-top: 1px solid #acacac !important;
      font-size: 12px;
      // line-height: 20px;
      border-top: 0.5px solid #acacac !important;
      color: #595959;
      text-align: center;
      background: #ffffff !important;
      padding: 2px !important;
      border-width: 0.5px;
      text-align: center !important;

      // border: 2px solid gray !important;
      // margin-top: 2px !important;
      // margin-bottom: 2px !important;
      // border-collapse: separate !important;
      // border-spacing: 0 10px !important;
      // border-left: 0px !important;
      // border-right: 0px !important;
      // &:first-child {
      //   // border-top-left-radius: 14px;
      //   // border-bottom-left-radius: 14px;
      //   // border-left: 1px solid coral !important;
      //   border-collapse: collapse;
      // }
      &:first-child {
        border-left: none !important;
      }

      &:last-child {
        border-right: none !important;
        // border-top-right-radius: 14px;
        // border-bottom-right-radius: 14px;
        // background-color: #003da5;
        // border-right: 1px solid #acacac !important;
      }

      // &:after {
      //   // border-right: 2px solid black !important;
      //   height: 40px !important;
      //   // background-color:  #003da5 !important;
      // }
      // &:after {
      //   // border-right: 2px solid black !important;
      //   // height: 40px !important;
      //   // background-color:  #003da5 !important;
      // }
    }

    .p-inputtext {
      border-radius: 50px;
    }
  }

  // th,
  // td {
  //   width: 9% !important;
  // }
}

.fullscreen-mode {
  background-color: #fff;
}

// .p-inputtext {
//   border-radius: 50px;
// }
.p-breadcrumb {
  border: 0;
  // padding: 0 0 12px 0;
  padding: 0 0 5px 0;
}

.p-breadcrumb-chevron:first-child {
  display: none;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: #acacac;
  font-size: 12px;
}

.p-breadcrumb ul li:last-child {
  .p-menuitem-text {
    color: #003da5;
    font-weight: 500;
    line-height: 15px;
  }
}

.p-breadcrumb ul .pi-chevron-right:nth-child(3) {
  color: #003da5;
}

.p-breadcrumb ul li .p-menuitem-link {
  box-shadow: none !important;
  outline: none !important;
}

.p-breadcrumb ul {
  padding: 8px;
}
.content-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 25px 15px 0;
  padding: 0 15px 0;

  &.task-layout {
    padding: 0 60px 33px 25px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $width100;
    align-items: center;

    .action-buttons {
      display: flex;
      flex-direction: row;
      gap: 40px;

      button {
        margin: 0 16px;
        padding: 10px 24px;
        width: auto;
        height: auto;
        font-size: 12px;
        line-height: 12px;
        border-radius: 20px;
      }
    }
  }

  .tabular-view {
    .actions .action-buttons {
      gap: 28px;
      align-items: center;

      button {
        margin: 0;
      }
    }
  }

  .tabular-view {
    width: $width100;
    display: block;
    padding: 0 0 0;

    .card {
      border: 0 !important;
    }
  }
}
.task-details {
  overflow: hidden scroll;
  width: 100%;
  height: calc(100vh - 180px);
  padding-bottom: 120px;
  & + .form-buttons {
    &.bottom-fixed {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
.p-dialog {
  border-radius: 20px;

  .p-dialog-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .p-dialog-footer {
    padding: 0 32px 32px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    button {
      display: inline-block;
      padding: 10px 32px;
      margin: 0;
      font-size: 12px;
      line-height: 96.02%;

      & + button {
        margin-left: 24px;
      }
    }
  }
}

.margin-top-24 {
  margin-top: 24px;
}

.p-datatable .p-datatable-thead > tr > th {
  white-space: break-spaces !important;
}
.p-multiselect{
  & .p-multiselect-label{
    padding: 10px 16px;
    line-height: 10px;
    font-size: 10px;
  }
}
input, textarea{
  &::-moz-placeholder {
    color: #c2c2c2 !important;
    font-size: 10px;
    opacity: 0.8;
  }
  &:-moz-placeholder {
    color: #c2c2c2 !important;
    font-size: 10px;
    opacity: 0.8;
  }
  &:-ms-input-placeholder {
    color: #c2c2c2 !important;
    font-size: 10px;
    opacity: 0.8;
  }
  &::-webkit-input-placeholder {
    color: #c2c2c2 !important;
    font-size: 10px;
    opacity: 0.8;
  }
}